<!DOCTYPE html> 
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <script src="/javascripts/script.js"></script>
</head>
<body>
    <h1 class="navbar">{{title}}</h1>

    <div class="flex-container">
        <a href="/new">New Message</a>
        {{#each messages}}
            <div class="message">
                <p class="message-text">{{text}}</p>
                <p class="message-info">Sent By {{user}} on {{added}}</p>
                <div>
                    <img onclick="toggleLikes(this)" style="float:left" src="images/heart.png">
                </div>
            </div>
        {{/each}}
    </div>
</body>
